<div class="container">
    <mat-toolbar>
        <span>Crear nuevo rol</span>
    </mat-toolbar>

    <mat-card class="style">
        <form [formGroup]="form" (ngSubmit)="Actividad()">

            <mat-grid-list class="grid" cols="3" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label >Nombre del nuevo rol</mat-label>
                    <input  matInput formControlName="name" autocomplete="off">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <img class="img" src="./assets/img/roles.png">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button class="btn" mat-raised-button routerLink="/welcome/roles">Cancelar</button>
                    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Crear</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card> 
</div>
