table {
    width: 100%;
    margin-top: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.icon{
    text-align: right;
}

th{
    width: 20%;
}
.cursor{
    cursor: pointer;
}
.search{
    color: #1878d0;
}

.edit{
    color: #1f516f;
    align-items: center;
}
.delete{
    color: #e15639;
    align-items: center;
}