<div>
    <mat-toolbar>
        <span>Pagina de inicio</span>
    </mat-toolbar>
    <mat-form-field appearance="standard" class="container">
      <mat-label>Filtrar por producto</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ejm. pan" #input autocomplete="off">
    </mat-form-field>
</div>
<div class="row">
  <div class="col" size="12" sizeLg="3" sizeMd="4" sizeXs="12" *ngFor="let p of producto">

  <div class="container" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{p.nombre}}</mat-card-title>
        <mat-card-subtitle>Cantidad disponible: {{p.stock}}</mat-card-subtitle>
        <mat-card-subtitle>Precio: {{p.precio}}</mat-card-subtitle>
      </mat-card-header>

      <form  [formGroup]="form" (ngSubmit)="comprar(p.id)">
        <mat-card-actions>
          <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input class="input" matInput placeholder="Ejm. 2" autocomplete="off" formControlName="cantidad">
          </mat-form-field>
          <button class="btn" mat-stroked-button color="primary">Comprar</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>

