  .example-card {
    max-width: 250px;
    text-align: right;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url("https://cdn-icons-png.flaticon.com/512/45/45332.png");
    background-size: cover;
  }

  .example-full-width{
    width: 60px;
  }

  input{
    text-align: center;
  }



  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }



