  .example-card {
    max-width: 250px;
    text-align: right;
  
  }
  
  .example-header-image {
    background-image: url("https://cdn-icons-png.flaticon.com/512/45/45332.png");
    background-size: cover;
  }

  .example-full-width{
    width: 60px;
  }

  .input{
    align-content:center;
  }




