<div class="container">
    <mat-toolbar>
        <span>Pagina de inicio PENDIENTE POR MODIFICAR LAS CARDS DE PRODUCTOS</span>
    </mat-toolbar>
</div>
<div class="container" *ngFor="let p of producto">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{p.nombre}}</mat-card-title>
          <mat-card-subtitle>Cantidad disponible: {{p.stock}}</mat-card-subtitle>
          <mat-card-subtitle>Precio: {{p.precio}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          
          <button class="btn" mat-stroked-button color="primary">Comprar</button>
        </mat-card-actions>
      </mat-card>
</div>
