<mat-toolbar color="primary">
    <span>Cafeteria Konecta</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/welcome">Welcome</button>
    <button mat-button routerLink="/welcome/productos">Productos</button>
    <button mat-button routerLink="/welcome/usuarios">Usuarios</button>
    <button mat-button routerLink="/welcome/roles">Roles</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

