<div class="container">
    <mat-toolbar>
        <span>Actualizar datos de usuario</span>
    </mat-toolbar>
    <mat-card class="style">
        <form  [formGroup]="form" (ngSubmit)="Actividad()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="width">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" [(ngModel)]="usuarios.users.name">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img class="img" src="./assets/img/add-user.png">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="lastname" [(ngModel)]="usuarios.users.lastname">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width">
                        <mat-label>Correo electronico</mat-label>
                        <input matInput formControlName="email" [(ngModel)]="usuarios.users.email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width">
                        <mat-label>Rol</mat-label>
                        <input matInput formControlName="roles" [(ngModel)]="usuarios.users.roles">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button class="button" routerLink="/welcome/usuarios" mat-raised-button>Cancelar</button>
                    <button type="submit" [disabled]="form.invalid" class="button" mat-raised-button color="primary">Actualizar</button>
                </mat-grid-tile>
            </mat-grid-list>
            
        </form>
    </mat-card>
</div>
